/*
 * Responsive Thumbnails Documentation
 *
 * This stylesheet is not needed for
 * Responsive Thumbnails to work
 *
 */


html {
  font-family: sans-serif;
  color: #333;
  background-color: #f7f7f7;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
header {
}
main {
}
.vessel {
  position: relative;
  max-width: 83.4em;
  padding: .1em 1.5em;
  margin: 0 auto;
}

.row {
  margin: 0 -1.5em;
  border-top: 1.5px solid #ccc;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4 {
  float: left;
  padding: 0 1.5em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.col-1 {
  width: 25%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 75%;
}
.col-4 {
  width: 100%;
}
.separate-right {
  border-right: 1px solid #ccc;
}

@media (max-width: 627px){
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    width: auto;
    float: none;
    clear: both;
    border-top: 1.5px solid #ccc;
  }
  .col-1:first-child,
  .col-2:first-child,
  .col-3:first-child,
  .col-4:first-child {
    border-top: none;
  }
  .separate-right {
    border-right: none;
  }
}
